@model Vidly.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@using (@Html.BeginForm("Create", "Customer"))
{
    <div class="form-group">
        @Html.LabelFor(t => t.Name)
        @Html.TextBoxFor(t => t.Name, new { @class = "form-control" })
    </div>

    <div class="checkbox">
        <input type="checkbox" checked=@Html.CheckBoxFor(c => c.IsSubscribedToCustomer) />
    </div>

    <div class="form-group">
        @Html.LabelFor(t => t.MembershipTypeId)
        @Html.DropDownListFor(f => f.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "DurationInMonth"), "Select ...", new { @class = "form-control" })
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
}